body {
  background-color: #faebd7;

  background-image: linear-gradient(
      90deg,
      rgba(255, 100, 100, 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(180deg, rgba(100, 100, 255, 0.4) 1px, transparent 1px);
  background-size:
    40px 1.8em,
    40px 1.8em;
  line-height: 1.8em;
  background-position: 20px 0;
}

@import "tailwindcss";